{
  "openapi": "3.0.1",
  "info": {
    "title": "Microfox SDK API",
    "version": "1.0.0",
    "description": "Unified API wrapper for all Microfox SDK functions",
    "contact": {
      "name": "Microfox Dev Support",
      "email": "support@microfox.com"
    }
  },
  "servers": [
    {
      "url": "https://api.microfox.com/c/2121b4fc-e905-4d75-8ec9-b3bb8088285e/execute",
      "description": "Unified Gateway Endpoint"
    }
  ],
  "paths": {
    "/send-message": {
      "post": {
        "summary": "Send a message to Slack",
        "description": "Sends a message to a user or channel via Slack using the Slack SDK.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["recipient", "message"],
                "properties": {
                  "recipient": {
                    "type": "string",
                    "description": "Slack channel ID or user ID"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content to send"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "slackResponse": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
