{
  "openapi": "3.0.1",
  "info": {
    "title": "Microfox SDK Unified API",
    "version": "1.0.0",
    "description": "Single entry-point API for all Microfox SDK functions via a wrapper Lambda",
    "contact": {
      "name": "Microfox Dev Support",
      "email": "support@microfox.com"
    }
  },
  "servers": [
    {
      "url": "https://api.microfox.com/c/slack-web-tiny/execute",
      "description": "Unified wrapper endpoint",
      "variables": {
        "sdkId": {
          "default": "slack-web-tiny",
          "description": "Unique SDK identifier"
        }
      }
    }
  ],
  "paths": {
    "/send-message": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message to a Slack channel",
        "description": "Posts a message to a specified Slack channel using the Slack SDK.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Channel ID or name"
                  },
                  "text": { "type": "string", "description": "Message text" },
                  "blocks": {
                    "type": "array",
                    "items": { "type": "object" },
                    "description": "Block Kit blocks (optional)"
                  },
                  "attachments": {
                    "type": "array",
                    "items": { "type": "object" },
                    "description": "Legacy attachments (optional)"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Timestamp for thread replies (optional)"
                  },
                  "reply_broadcast": {
                    "type": "boolean",
                    "description": "Broadcast reply in thread (optional)"
                  }
                },
                "required": ["channel", "text"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "channel": { "type": "string" },
                    "ts": { "type": "string" },
                    "message": { "type": "object" },
                    "error": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or invalid parameters" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/update-message": {
      "post": {
        "operationId": "updateMessage",
        "summary": "Update an existing Slack message",
        "description": "Modifies the content of a previously sent Slack message.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": { "type": "string", "description": "Channel ID" },
                  "ts": {
                    "type": "string",
                    "description": "Message timestamp"
                  },
                  "text": {
                    "type": "string",
                    "description": "New message text (optional)"
                  },
                  "blocks": {
                    "type": "array",
                    "items": { "type": "object" },
                    "description": "Updated blocks (optional)"
                  },
                  "attachments": {
                    "type": "array",
                    "items": { "type": "object" },
                    "description": "Updated attachments (optional)"
                  }
                },
                "required": ["channel", "ts"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "channel": { "type": "string" },
                    "ts": { "type": "string" },
                    "message": { "type": "object" },
                    "error": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or invalid parameters" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/upload-file": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file to Slack",
        "description": "Shares a file in a Slack channel or conversation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channels": {
                    "type": "string",
                    "description": "Comma-separated channel IDs (optional)"
                  },
                  "content": {
                    "type": "string",
                    "description": "File content as string (optional)"
                  },
                  "filename": {
                    "type": "string",
                    "description": "Filename (optional)"
                  },
                  "filetype": {
                    "type": "string",
                    "description": "File type identifier (optional)"
                  },
                  "initial_comment": {
                    "type": "string",
                    "description": "Initial comment (optional)"
                  },
                  "thread_ts": {
                    "type": "string",
                    "description": "Thread timestamp (optional)"
                  },
                  "title": {
                    "type": "string",
                    "description": "File title (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "file": {
                      "type": "object",
                      "properties": { "id": { "type": "string" } }
                    },
                    "error": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or invalid parameters" },
          "500": { "description": "Internal server error" }
        }
      }
    }
  }
}
